<section class="content-header">
   <h1>Manage Designs</h1>
   <ol class="breadcrumb">
      <li><a [routerLink]="['/home']"><i class="fas fa-home"></i> Home</a></li>
   </ol>
</section>

<section class="content">
   <div class="row">
      <div class="col-xs-12">
         <div class="box">
            <div class="box-header with-border">
               <h3 class="box-title">Design List</h3>
               <div class="box-tools pull-right" data-toggle="tooltip" title="" data-original-title="Status">
                  <button [routerLink]="['details']" class="btn btn-block btn-xs btn-primary"> New Design</button>
               </div>
            </div>
            <div class="box-body">
               <dt-search [searchFields]="searchFields" (onSearch)="search($event)"></dt-search>
               <dt-pagination [totalPages]="totalPages" (onPageSizeChange)="onPageSizeChange($event)" (onPageChange)="onPageChange($event)"></dt-pagination>

               <table class="table table-bordered table-striped">
                  <thead>
                     <tr (click)="onColumnClick($event.target)">
                        <th data-column="Name" class="table-sorter">Name</th>
                        <th data-column="DesignType" class="table-sorter" style="max-width:200px">Design Type</th>
                        <th data-column="Version" class="table-sorter" style="max-width:100px">Version</th>
                        <th data-column="UpdatedBy" class="table-sorter" style="width: 150px;">Updated By</th>
                        <th data-column="UpdatedDate" class="table-sorter" style="width: 125px;">Updated On</th>
                        <th style="width:80px"></th>
                     </tr>
                  </thead>
                  <tbody>
                     <ng-container *ngIf='designs && designs.length > 0'>
                        <tr *ngFor='let design of designs'>
                           <td>{{design.name}}</td>
                           <td>{{design.designType}}</td>
                           <td>{{design.version}}</td>
                           <td>{{design.updatedBy}}</td>
                           <td>{{design.updatedDate | date:'dd/MM/yyyy'}}</td>
                           <td class="text-center">
                              <!--<a>
                                 <i class="fa fa-code" (click)="exportKML(design)" title="Export" style="font-size: 14px; cursor:pointer"></i>
                              </a>&nbsp;-->
                              <a>
                                 <i class="fa fa-edit" [routerLink]="['details', design.referenceId]" title="Edit" style="font-size: 14px; cursor:pointer"></i>
                              </a>&nbsp;
                              <a>
                                 <i class="fa fa-trash" (click)="delete(design)" title="Remove" style="font-size: 14px; cursor:pointer; color:red"></i>
                              </a>
                           </td>
                        </tr>
                     </ng-container>
                     <tr *ngIf='designs == null || designs.length == 0'>
                        <td colspan="6" style="text-align: center;">
                           {{statusMessage}}
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</section>
