<div class="col-md-12">
   <div class="input-group input-group-sm" style="padding-bottom:20px">
      <div class="input-group-btn">
         <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="width:100px">
            {{selectedField.label}}
            <span class="fa fa-caret-down"></span>
         </button>
         <ul class="dropdown-menu">
            <ng-container *ngIf='searchFields && searchFields.length > 0'>
               <li *ngFor='let searchField of searchFields'>
                  <a [routerLink]="" (click)=setSearchField(searchField)>{{searchField.label}}</a>
               </li>
            </ng-container>
         </ul>
      </div>
      <input [type]=selectedField.dataType class="form-control" name="dateSearch" [(ngModel)]="searchText" autocomplete="off">
      <span class="input-group-btn">
         <button type="button" class="btn btn-info btn-flat" (click)="currentPage = 1; search()"><i class="fas fa-search"></i></button>
      </span>
   </div>
   <div>
      <div class="pull-left">
         <span style="padding-right: 10px;font-size: small;">Pages</span>
         <div class="btn-group" style="padding-right: 10px;">
            <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false">
               <span style="padding-right: 5px;"> {{pageSize}} </span>
               <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
               <li><a [routerLink]="" (click)="pageSize = 10; getFormData()">10</a></li>
               <li><a [routerLink]="" (click)="pageSize = 20; getFormData()">20</a></li>
               <li><a [routerLink]="" (click)="pageSize = 50; getFormData()">50</a></li>
               <li><a [routerLink]="" (click)="pageSize = 100; getFormData()">100</a></li>
            </ul>
         </div>
      </div>
      <div class="pull-right">
         <span style="padding-right: 10px;font-size: small;">Showing page {{currentPage}} of {{totalPages}}</span>
         <div class="btn-group" style="padding-bottom:5px">
            <button class="btn btn-default btn-sm" type="button" (click)="setPage(currentPage - 1)" [ngClass]="{disabled:currentPage === 1}"><i class="fa fa-chevron-left fa-fw"></i></button>
            <button class="btn btn-default btn-sm" type="button" (click)="setPage(currentPage + 1)" [ngClass]="{disabled:currentPage === totalPages}"><i class="fa fa-chevron-right fa-fw"></i></button>
         </div>
      </div>
   </div>
   <table class="table table-bordered table-striped">
      <thead>
         <tr (click)="onColumnClick($event.target)">
            <th style="width: 45px;"></th>
            <th data-column="Name" class="table-sorter">Name</th>
            <th data-column="UpdatedBy" class="table-sorter" style="width: 150px;">Updated By</th>
            <th data-column="UpdatedDate" class="table-sorter" style="width: 125px;">Updated On</th>
         </tr>
      </thead>
      <tbody>
         <ng-container *ngIf='clusters && clusters.length > 0'>
            <ng-container *ngFor='let cluster of clusters; let clusterIndex = index;'>
               <tr>
                  <td style="vertical-align: middle;">
                     <mat-radio-group [(ngModel)]="design.clusterId">
                        <mat-radio-button [value]="cluster.id"></mat-radio-button>
                     </mat-radio-group>
                  </td>
                  <td>{{cluster.name}}</td>
                  <td>{{cluster.updatedBy}}</td>
                  <td>{{cluster.updatedDate | date:'dd/MM/yyyy'}}</td>
               </tr>
            </ng-container>
         </ng-container>
         <tr *ngIf='clusters == null || clusters.length == 0'>
            <td colspan="4" style="text-align: center;">
               {{statusMessage}}
            </td>
         </tr>
      </tbody>
   </table>
</div>
