<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <meta name="description" content="Admin">
    <meta name="msapplication-TileImage" content="touch-icon.png">
    <meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="Referrer-Policy" value="no-referrer | same-origin" />
    <link rel="apple-touch-icon" href="touch-icon.png" />
    <link rel="icon" href="touch-icon.png" />

    <link rel="stylesheet" href="styles.327792fb13230ea55cc0.css">
</head>
<body>
    <div class="wrapper">
        <header class="main-header">
            <a class="logo" href="/"><img src="images/logo.svg" style="height: 35px;"></a>
            <nav class="navbar" role="navigation"></nav>
        </header>

        <div class="content-wrapper" style="margin-left:0px; min-height: calc(100vh - 102px);">
            <div class="login-box">
                <div style="background-color: white">
                    <div class="login-logo">
                        <h2>Login</h2><hr />
                        @if (!string.IsNullOrEmpty(@ViewBag.Message))
                        {
                            <div class="form-group">
                                <h4 style="color: red">@ViewBag.Message</h4>
                            </div>
                        }
                    </div>
                    <div class="login-box-body">
                        @using (Html.BeginForm())
                        {
                            <div class="form-group">
                                <label>Login Id <span style="font-size:smaller">(loginId@domain)</span></label>
                                <input class="form-control input-sm" id="LoginId" name="LoginId" autocomplete="off" type="text" value="">
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input id="Password" class="form-control input-sm" name="Password" autocomplete="off" type="password" />
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-block" style="background-color: #314183; color: #ffffff">Login</button>
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>

        <footer class="main-footer hidden-xs" style="margin-left:0px">
            <strong><span>&copy; 2019 Pitney Bowes</span></strong>
        </footer>
    </div>

</body>
</html>
