<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bank Mandiri - Maintenance</title>
    <link href="styles.85695b31b69be03cc125.bundle.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        body {
            background: url(images/landing/header_one.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        #lg-wrp {
            width: 1000px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="~/images/logo.png" alt="POSM - Digital Mailbox" class="img-responsive" /></a>
        </div>
    </nav>

    <div id="lg-wrp">
        <div class="container-fluid lg-mrgn-top">
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 lg-bx-lft-bg">
                    <div class="lg-bx-lft">
                        <div class="lg-lft-txt">
                            <h1>Oopsy!!! We're Sorry...</h1>
                            <h2>We'll be back soon! We are currently facing a problem with Eziemall Authentication Engine. As such users are unable to login to Digital Mailbox for the time being. Sorry for the inconvenience caused.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
