<section class="content-header">
   <h1>Manage Entities <small> {{title}} </small></h1>
   <ol class="breadcrumb">
      <li><a [routerLink]="['/']"><i class="fa fa-home"></i> Home</a></li>
      <li><a [routerLink]="['/entities']"> Entities</a></li>
   </ol>
</section>
<section class="content">
   <div class="row">
      <div class="col-xs-12">
         <div class="box">
            <div class="box-header with-border ui-sortable-handle">
               <h3 class="box-title">Pole Details</h3>
               <div class="box-tools pull-right" data-original-title="Status" data-toggle="tooltip" title="">
                  <button class="btn btn-social-icon btn-xs btn-danger" (click)="goBack()">
                     <i class="fa fa-times" aria-hidden="true"></i>
                  </button>
                  <button class="btn btn-social-icon btn-xs btn-success" type="submit" style="margin-left: 5px;" (click)="save()" [disabled]="form.invalid">
                     <i class="far fa-save"></i>
                  </button>
               </div>
            </div>
            <form name="form" action="javascript:{}" #form="ngForm" novalidate autocomplete="off">
               <div class="box-body">
                  <div class="panel panel-default">
                     <div class="panel-heading">
                        <h4 class="panel-title">
                           General Information
                        </h4>
                     </div>
                     <div class="panel-collapse collapse in">
                        <div class="panel-body">
                           <div class="form-group col-md-6">
                              <label for="name" class="control-label">Name <span style="color:red;">*</span></label>
                              <input type="text" name="name" class="form-control input-sm" [(ngModel)]="pole.name" required/>
                           </div>
                           <div class="form-group col-md-6">
                              <label for="parentType" class="control-label">Parent Type</label>
                              <mat-select name="parentType" [(ngModel)]="pole.parentEntityType">
                                 <mat-option>Select Parent Entity Type</mat-option>
                                 <mat-option value="Cable">Cable</mat-option>
                                 <mat-option value="Chamber">Chamber</mat-option>
                                 <mat-option value="Duct">Duct</mat-option>
                                 <mat-option value="ODF">ODF</mat-option>
                                 <mat-option value="Pole">Pole</mat-option>
                                 <mat-option value="SpliceClosure">Splice Closure</mat-option>
                                 <mat-option value="Splitter">Splitter</mat-option>
                                 <mat-option value="Fat">Fat</mat-option>
                                 <mat-option value="Fdt">Fdt</mat-option>
                              </mat-select>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="panel-group" id="accordion">
                     <div class="panel panel-default">
                        <div class="panel-heading">
                           <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#make">Make</a>
                           </h4>
                        </div>
                        <div id="make" class="panel-collapse collapse">
                           <div class="panel-body">
                              <div class="col-sm-12">
                                 <div class="form-group col-md-6">
                                    <label for="type" class="control-label">Type</label>
                                    <input type="text" name="type" class="form-control input-sm" [(ngModel)]="pole.type" />
                                 </div>
                                 <div class="form-group col-md-6">
                                    <label for="brand" class="control-label">Brand</label>
                                    <input type="text" name="brand" class="form-control input-sm" [(ngModel)]="pole.brand" />
                                 </div>
                                 <div class="form-group col-md-6">
                                    <label for="model" class="control-label">Model</label>
                                    <input type="text" name="model" class="form-control input-sm" [(ngModel)]="pole.model" />
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="panel panel-default">
                        <div class="panel-heading">
                           <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#poleInfo">Pole Info</a>
                           </h4>
                        </div>
                        <div id="poleInfo" class="panel-collapse collapse">
                           <div class="panel-body">
                              <div class="col-sm-12">
                                 <div class="form-group col-md-6">
                                    <label for="height" class="control-label">Height</label>
                                    <input type="number" name="height" class="form-control input-sm" [(ngModel)]="pole.poleHeight" />
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="panel panel-default">
                        <div class="panel-heading">
                           <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#zoomSettings">Zoom Settings</a>
                           </h4>
                        </div>
                        <div id="zoomSettings" class="panel-collapse collapse">
                           <div class="panel-body">
                              <div class="col-sm-11">
                                 <mat-slider name="zoomLevel" thumbLabel step="1" min="0" max="21" style="width:100%" [(ngModel)]="pole.zoomLevel"></mat-slider>
                              </div>
                              <div class="col-sm-1" style="padding-top: 7px;">
                                 <input type="number" min="0" max="21" class="form-control input-sm" name="zoom" [(ngModel)]="pole.zoomLevel">
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="panel panel-default">
                        <div class="panel-heading">
                           <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#pricing">Pricing</a>
                           </h4>
                        </div>
                        <div id="pricing" class="panel-collapse collapse">
                           <div class="panel-body">
                              <div class="col-sm-12">
                                 <suppliers [supplierList]="pole.suppliers"></suppliers>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="panel panel-default">
                        <div class="panel-heading">
                           <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#customFields">Custom Fields</a>
                           </h4>
                        </div>
                        <div id="customFields" class="panel-collapse collapse">
                           <div class="panel-body">
                              <div class="col-sm-12">
                                 <custom-fields [customFields]="pole.customFields"></custom-fields>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>
               <div class="box-footer">
                  <div class="pull-right">
                     <button type="button" class="btn btn-danger" (click)="goBack()">Close</button>
                     <button type="submit" class="btn btn-success" style="margin-left:10px" (click)="save()" [disabled]="form.invalid">Save</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</section>
